VITE_API_BASE_URL=http://ec2-50-19-36-138.compute-1.amazonaws.com/api
VITE_API_USER=
VITE_API_PASSWORD=
VITE_PRIMARY_KEYS_JSON={"tvShows":["id"],"seasons":["id","tvShowId"],"episodes":["id","seasonId"],"watchlist":["id","userId"]}
